body{
   background-image:url("input_resultbg.avif");
   background-repeat:no-repeat;
   background-size:cover;
}
h1{
   color: yellow;
   background-color: red;
   font: 30px italic Times New Roman;
   margin-left:300px;
   display:inline
}
a{
   margin-left: 200px;
}